.hp-block {
    width: 80%!important;
}
.hp-table td {
    height: 100px!important;
    background-color: transparent!important;
    border: none!important;
}
.hp-table {
    font-weight: lighter;
}
.hp-table:last-child td {
    height: 85px!important;
}

.btn-hp-primary {
    width: auto;
    padding: 13px 15px;
    background-color: #0096DB;
    color: #FFFFFF;
}
.btn-hp-primary:hover {
    background-color: #39B54A;
    color: #ECF0F1;
}
.btn-hp-primary-inverse {
    width: auto;
    padding: 10px 15px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.btn-hp-primary-inverse:hover {
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
}

.hp-bgc-blue {
    background: #0096DB;
}
.hp-bgc-green {
    background: #39B54A;
}

.sl-display-container div p {
    font-size: 15px;
}
.sl-display-container div p span{
    display: block;
    font-size: 12px;
}

/*----- HOME    About category part -----*/
.c-div-block .c-span-floted {
    width: 165px;
    max-width: 25%;
    height: 65px;
    max-height: 65px;
    border-top: 1px solid #BDC3C7;
    border-left: 1px solid #BDC3C7;
}
.c-div-block .c-span-floted:hover,
.c-div-block .c-span-floted:hover > p i,
.c-div-block .c-span-floted:hover > p span {
    background-color: #39B54A;
    color: #ECF0F1;
}
.c-div-block .c-span-floted:last-child {
    border-right: 1px solid #BDC3C7;
}
.hp-c-div .c-div-block:last-child .c-span-floted {
    border-bottom: 1px solid #BDC3C7;
}
.c-span-floted {
    padding: 50px 4px 50px 0;
}
.c-span-floted p i {
    width: 100%;
    color: #0096DB;
}
.c-span-floted p span {
    width: 100%;
    color: #A0A0A0;
}

/*------ HOME       About Job offer | Plaquette | CV stats -----*/
.hp-joboffer-div {
    width: 100%;
    min-height: 17px;
    display: block;
    border-top: 1px solid #BDC3C7;
    padding: 10px 0 10px;
    text-decoration: none;
    color: #222222;
}
.hp-joboffer-div:hover {
    background-color: #EFEFEF;
}
.hp-joboffer-div  div.hp-job-name {
    width: 250px;
}
.hp-joboffer-div  div.hp-job-postdate {
    width: 100px;
}
.hp-joboffer-div  div.hp-job-location {
    width: 160px;
}
.hp-joboffer-div  div.hp-job-joboffer {
    width: 120px;
}
.hp-joboffer-div  div.hp-job-count {
    width: 40px;
}

.hp-right-joboffer-div {
    padding: 0;
}
.hp-right-joboffer-stat-div {
    padding: 0 0 15px 0;
}
.hp-stat-cv {
    display: block;
    float: left;
    width: 90%;
    height: auto;
    padding: 10px 13px!important;
}
.hp-stat-cv span {
    display: inline;
    float: left;
    width: 87%;
}
.hp-stat-cv span:last-child {
    width: 10%;
}

/*------ HOME       About galery -----*/
.hp-gal-slide {
    width: 100%!important;
    height: 300px!important;
}

/*------ HOME       About Patners -----*/
.hp-partners-div {
    width: 100%;
    height: auto;
    max-height: 90px!important;
    line-height: 90px;
}
.hp-partners-div > .hp-patners-block{
    width: auto;
    height: 100%;
    display: inline-block;
    float: left;
    margin-right: 5px;
}
.hp-partners-div > .hp-patners-block:last-child{
    margin-right: 0;
}

/*------ HOME       About Footer -----*/
.hp-footer-div {
    width: 100%!important;
    height: auto;
    background: #0096DB;
    color: #FFFFFF;
    padding: 60px 0 15px;
    margin-top: 100px;
}
.hp-footer-menu-div {
    width: 100%;
    height: 250px;
    max-height: 250px!important;
    margin-bottom: 80px!important;
}
.hp-footer-menu-div > .hp-footer-menu-block {
    width: 30%;
    height: 100%;
    display: inline-block;
    float: left;
    margin-right: 3.3%;
}
.hp-footer-menu-div > .hp-footer-menu-block:nth-child(2) {
    margin: 0 1.8%;
}
.hp-footer-menu-div > .hp-footer-menu-block:last-child {
    margin-right: 0;
    float: right;
}
.hp-footer-menu-title {
    padding: 0 0 10px 0;
    border-bottom: 1px solid #BDC3C7;
}
.hp-footer-ul {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}
.hp-footer-ul a {
    color: #FFFFFF!important;
    font-weight: lighter!important;
    text-decoration: none!important;
}
.hp-footer-ul a:hover {
    color: #ECF0F1!important;
    text-decoration: underline!important;
}
.hp-copy-right {
    width: 100%;
    margin-bottom: 15px;
    color: #CCCCCC;
}
.btn-link-footer {
    text-decoration: none;
    color: #CCCCCC;
}
.btn-link-footer:hover {
    text-decoration: underline;
}
